files:
  "/etc/awslogs/config/myapp.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
        [/var/log/web.stdout.log]
        datetime_format = %Y-%m-%dT%H:%M:%S.%f
        file = /var/log/web.stdout.log
        buffer_duration = 5000
        log_stream_name = {instance_id}
        log_group_name = eb-app-stdout

        [/var/log/web.stderr.log]
        datetime_format = %Y-%m-%dT%H:%M:%S.%f
        file = /var/log/web.stderr.log
        buffer_duration = 5000
        log_stream_name = {instance_id}
        log_group_name = eb-app-stderr

        [/var/log/nginx/error.log]
        file = /var/log/nginx/error.log
        log_group_name = eb-nginx-error
        log_stream_name = {instance_id}

        [/var/app/current/logs/app-log.txt]
        file = /var/app/current/logs/app-log.txt
        log_group_name = eb-app-logfile
        log_stream_name = {instance_id}

commands:
  enable-awslogs-service:
    command: "systemctl enable awslogsd.service"
  restart-awslogs:
    command: "systemctl restart awslogsd.service"